# This is Git's per-user configuration file.

# git config --global --edit
# %USERPROFILE%\.gitconfig

[alias]
	a = add
	b = branch
	c = commit
	d = diff
	l = log --format='%Cred%h %Cgreen%ad %C(cyan)%aN% %C(yellow)%d%Creset %s'
	la = log --all --format='%Cred%h %Cgreen%ad %C(cyan)%aN% %C(yellow)%d%Creset %s'
	lg = log --graph --format='%Cred%h %Cgreen%ad %C(cyan)%aN% %C(yellow)%d%Creset %s'
	lga = log --all --graph --format='%Cred%h %Cgreen%ad %C(cyan)%aN% %C(yellow)%d%Creset %s'
	s = status
	st = status -s
	sw = switch

[color]
	ui = always
  
[core]
  editor = "'C:/Program Files/Notepad++/notepad++.exe' -multiInst -notabbar -nosession -noPlugin"
	preloadindex = true
	fscache = true
	autocrlf = true

[credential]
  helper = manager
  #helper = store

[diff]
	tool = bc4

[difftool "bc4"]
	cmd = \"C:/Program Files/Beyond Compare 4/BCompare.exe\" \"$LOCAL\" \"$REMOTE\"

[difftool]
	prompt = false

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[gc]
	auto = 256

[log]
	date = short
  
[user]
	name = Dmitry

[pull]
  rebase = false

[push]
	default = current

[remote]
	pushdefault = origin
	